@{
    ViewData["Title"] = "Item - Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model ToDoList.Models.Item

    <h2>Edit</h2>
    <hr />
    <h4>Edit this task: @Html.DisplayFor(model => model.Description)</h4>

    @using (Html.BeginForm())
    {
        @Html.HiddenFor(model => model.ItemId)

        @Html.LabelFor(model => model.Description)
        @Html.EditorFor(model => model.Description)

        <span>&nbsp;|&nbsp;</span>
        @Html.LabelFor(model => model.Done)
        @Html.CheckBoxFor(model => model.Done)
        <br>
        @Html.LabelFor(model => model.CategoryId)
        @Html.DropDownList("CategoryId")

        <input type="submit" value="Amphibians" class="btn btn-default" />
    }
    <p>@Html.ActionLink("Back to list", "Index")</p>
