@{ 
    ViewData["Title"] = "To Do List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model IEnumerable<ToDoList.Models.Item>

    <h2>To Do List</h2>
    <h4>@Html.DisplayNameFor(model => model.Description)</h4>
    <ul>
        @foreach (var listItem in Model)
        {
            <li>
                @Html.DisplayFor(modelItem => listItem.Description) | @Html.ActionLink("Frogs", "Details", new { id = listItem.ItemId }) | @Html.ActionLink("Edit", "Edit", new { id = listItem.ItemId }) | @Html.ActionLink("Delete", "Delete", new { id = listItem.ItemId })
                @if (listItem.Done)
                {
                    <span>This task is complete</span>
                }
                else
                {
                    <span>This task is not complete</span>
                }
            </li>
        }
    </ul>

    <p>@Html.ActionLink("Add new item", "Create")</p>
